<h2>List of Candidates</h2>
<div>
<button mat-raised-button color="primary"   (click)="FunctionAdd()">Add New Candidate</button>
<br>
</div>
<div style="width:1200px" class="mat-elevation-z8">


    <table mat-table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- First Name Column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <!-- JMBG Column -->
        <ng-container matColumnDef="jmbg">
            <th mat-header-cell *matHeaderCellDef> JMBG </th>
            <td mat-cell *matCellDef="let element"> {{element.jmbg}} </td>
        </ng-container>

        <!-- Birth Year Column -->
        <ng-container matColumnDef="birthYear">
            <th mat-header-cell *matHeaderCellDef> Birth Year </th>
            <td mat-cell *matCellDef="let element"> {{element.birthYear}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <!-- Note Column -->
        <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef> Note </th>
            <td mat-cell *matCellDef="let element"> {{element.note}} </td>
        </ng-container>

        <!-- Employed Column -->
        <ng-container matColumnDef="employed">
            <th mat-header-cell *matHeaderCellDef> Employed </th>
            <td mat-cell *matCellDef="let element">
                <!-- {{element.employed}} -->
                <span *ngIf="element.employed">Employed</span>
                <span *ngIf="!element.employed">Not Employed</span>
            </td>
        </ng-container>

        <!-- Modification Date Column -->
        <ng-container matColumnDef="modificationDate">
            <th mat-header-cell *matHeaderCellDef> Modification Date </th>
            <td mat-cell *matCellDef="let element"> {{element.modificationDate | date:'dd.MM.yyyy.'}} </td>
        </ng-container>

        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <div>
                    <button mat-raised-button color="primary"  (click)="FunctionUpdate(element.id)">Edit</button> |
                    <button mat-raised-button color="accent" (click)="FunctionDelete(element.id)">Delete</button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator>


</div>